.mainbody{
    width: 1440px;
    height: 1900px;
}
.Mainframe{ 
    border: 1px black;
    border-style: solid;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
}
.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbarimg{
    height: 40px;
    padding-left: 18px;
}
.imgaddc{
    padding-left: 45px;
}
.secureworld{
    height: 70px;
}
.left{
    display: flex;
    align-items: center;
    gap: 180px;
}
.sdw{
    display: flex;
    align-items: center;
}
.sbwriteup{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
.Securing{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
.leftmenu{
    height: 667px;
    width: 290px;
    background-color: #F2F2F2;
    margin-left: 96px;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
}
.innerblock{
    margin: top 20px;
    height: 617px;
    width: 283px;
    margin-left: 5px;
    margin-top: 20px;
}
.toplogo{
    height: 81px;
    width: 100%;
    display: flex;
    flex: auto;
   justify-content: center;
}
.firstlogo{
    height: 65px;
    width: 60px;
    margin: auto;
    padding-left: 30px;
}
.arvind{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
.jobblock3{
    height: 30px;
    line-height: 0%;
}
.jobblock2{
    height: 123px;
    padding-left: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.menuimg{
    height: 24px;
    margin-top: 20px;
    line-height: 5px;
}
.jobblock4{
    margin: 0x;
    padding: 0px;
    margin-left: 10px;
    margin-top: 20px;
}
.jobword{
    font-size: 19px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: 'Times New Roman';
    color: black;
    line-height: 30px;
}
.word1{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.candidateblock3{
    height: 30px;
    line-height: 0px;
}
.candidateblock4{
    width: 193px;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-top: 20px;
}
.candidateblock2{
    height: 123px;
    padding-left: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.candimg{
    height: 24px;
    margin-top: 20px;
    line-height: 10px;
}
.candidateword{
    font-size: 19px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-family: 'Times New Roman';
    line-height: 25px;
}
.candidateword1{
    color: skyblue;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Times New Roman';
    margin: 0px;
    padding: 0px;
    line-height: 15px;
}
.candid{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman';
    line-height: 40px;
}
.breakcandidate{
    line-height: 1px;
}
.candidateword3{ 
    font-size: 19px;
    font-weight: 400;
    font-family: 'Times New Roman';
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    margin-top: 10px;
    color: skyblue;
}

.breakcandidat2{
    line-height: 1px;
}
.lastimg{
    height: 24px;
}
.lastblock{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 40px;
}
.lastmainblock{
    height: 161px;
    padding-left: 40px;
    margin-top: 100px;
    line-height: 10px;
}
.write{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman';
    color: black;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
}
.right{
    height: 566px;
    width: 285px;
    background-color: aquamarine;
    margin-right: 15px;
    background-color: #F2F2F2;
}
.bothmenu{
   margin: 5px;
   padding: 2px 2px;
   align-items: flex-start;
   display: flex;
   justify-content: space-evenly;
   margin-top: 80px;
}
.middleframe{
    background-color: #EDF9FF;
    height: 1320px;
    width: 634px;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.insidebox{
    height: 116px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
.insideboxltb{
    width: 373.62px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.insideboximg{
    height: 40px;
    width: 47px;
    padding: 0px;
    margin: 0px;
}
.insideboxlbb{
    width: 209.13px;
    height: 56px;
    padding: 0px;
    margin: 0px;
    margin-left: 62.27px;
}
.insideboxwriteup{
    margin: 0px;
    padding: 0px;
}
.insideboxannounce{
    margin-left:15px;
}
.insideboxtitle{
    font-size: 20px;
    font-family: 'Times New Roman';
    font-weight: bolder;
    margin-left: 5px;
}
.insideboxwriteup{
    font-size: 17px;
}
.insideboxmrb{
    height: 109px;
    width: 164.56px;
}
.insideboxrb{
    border: 1px solid darkcyan;
    width: 151px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.ww{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Times New Roman';
}
.uppermiddle{
    height: 300px;
    width: 640px;
    margin: 0px;
    padding: 0px;
    
}
.twomiddle{
    height: 1600px;
    padding: 0px;
    margin: 0px;
}
.firstjobsearchfilter{
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Times New Roman';
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}
.firstjobsearch{
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Times New Roman';
    padding: 0px;
    margin: 0px;
}
.firstjobfilter{
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Times New Roman';
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.upmfirstdiv{
    width: 100%;
    height: 68px;
    margin: 0px;
    padding: 0px;
}

.upmuiux{
    border: 1px solid purple;
    width: 100%;
    height: 37px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sreachimg{
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}
.upmseconddiv{

    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.seconddiv{
    background-color: darkblue;
    height: 34px;
    width: 150px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seconddivwrite{
    font-size: 16px;
    color: white;
    font-family: 'Times New Roman';   
}
.upmlastwriteup{
    font-size: 20px;
    font-family: 'Times New Roman';
    font-weight: bolder;
}